
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <div>
        @TempData["Message"]
    </div>

    <div>
        First Name: @ViewBag.FirstName<br />
        Last Name: @ViewBag.LastName<br />
        Gender Name: @ViewBag.Gender<br />
        Department Name: @ViewBag.Department<br />
        Agree?: @ViewBag.IsAgreed <br />
    </div>
</body>
</html>
